@using Niqash.Resources

@model Niqash.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = ViewsResource.forgotPassword;
}

<div class="forgotPassword">
    <div class="intro text-center">
        <p class="lead">@ViewsResource.forgotPassword</p>
    </div>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control siteInput" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group text-center">
            @Html.AntiForgeryToken()
            <input type="submit" class="siteBtn" value="@ViewsResource.sendEmail" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
